@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  scroll-behavior: smooth;

  @media (max-width: 768px) {
    font-size: 93.75%;
  }
}

body {
  font:
    16px var(--font-poppins),
    sans-serif;
}
