@import 'tailwindcss';

:root {
  --background: #0b0d1b;
  --foreground: #e3e3e3;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;

  scroll-behavior: smooth;

  @media (max-width: 768px) {
    font-size: 93.75%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font:
    16px var(--font-poppins),
    sans-serif;
}

button {
  cursor: pointer;
}
